APP_NAME=Dateifyapp
APP_ENV=local
APP_KEY=base64:UOrK0O7ytIO6UEFShp6YbhtGRC2P/BLdPHzL1Vt9nBI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=dateifyapp.cj3aw4aygvcs.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_DATABASE=dateifyapp
DB_USERNAME=dateifyapp
DB_PASSWORD="d066ADPYnhWfbC1VLm8a"

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID= "AKIAZZUL22JG22FSLE7M"
AWS_SECRET_ACCESS_KEY= "JjrREy2Hy+pQ991FaQHzYdqLgnpw2i4Clq1AwHOw"
AWS_DEFAULT_REGION= us-east-1
AWS_BUCKET= "dateify-app"
AWS_USE_PATH_STYLE_ENDPOINT= false
AWS_URL= https://d1vjox3dwbpbxy.cloudfront.net

PUSHER_APP_ID="1600221"
PUSHER_APP_KEY="5c13172fdbdcd18c24eb"
PUSHER_APP_SECRET="5a562a0991ccbade719f"
PUSHER_APP_CLUSTER=ap2

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AWS_ACCESS_KEY_ID= "AKIAVEGLEOOW7F3EYBDZ"
AWS_SECRET_ACCESS_KEY= "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"
AWS_DEFAULT_REGION= us-east-1
AWS_BUCKET= "dateifyapp"
AWS_USE_PATH_STYLE_ENDPOINT= false
AWS_URL= https://dsecf6rzqotcd.cloudfront.net