files:
  "/etc/supervisor/conf.d/websocket-worker.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [program:websocket-worker]
      process_name=%(program_name)s_%(process_num)02d
      command=php /var/www/html/artisan websocket:serve
      autostart=true
      autorestart=true
      user=ec2-user
      numprocs=1
      redirect_stderr=true
      stdout_logfile=/var/log/websocket-worker.log

commands:
  01_install_supervisor:
    command: "apt-get update && apt-get install -y supervisor"
